<div>
  <div class="container">
    <h2>Demo board</h2>
    <div class="flex gap-5" cdkDropListGroup>
      <div
      *ngFor="let column of columns"
        class="w-80 rounded bg-gray-400 min-h-[6rem] px-4 py-3 font-bold"
        cdkDropList
        [cdkDropListData]="column.todos"
        (cdkDropListDropped)="drop($event)"
      >
        <p>
          {{column.title}}
        </p>
        <div
          class="flex gap-5 bg-white my-2 ring ring-gray-400 text-left text-black font-normal p-2 rounded"
          *ngFor="let todo of column.todos"
          cdkDrag
        >
          <p>{{todo.title}}</p>

        </div>

      </div>
    </div>
  </div>
</div>
